.wrapper{
    border-radius: 20px;
    box-shadow: 4px 4px 10px #424242;
    padding: 20px;
    & .header{
        margin-top: 20px;

        & .title{
            font-size: 30px;
            font-weight: bold;
            color: #424242;
            text-align: center;
        }
    }

    & .body{
        margin-top: 20px;
        padding: 10px;

    }

    & .footer{
        margin-top: 10px;
        padding: 20px;
    }
}